.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top {
  background-color: rgb(100, 1, 47);
  color: rgb(255, 236, 245);
}

.text {
  background-color: rgb(92, 20, 20);
  color: rgb(255, 236, 245);
}

.person {
  background-color: rgb(65, 25, 51);
  color: rgb(255, 236, 245);
}

.people {
  background-color: rgb(82, 80, 80);
  color: rgb(255, 236, 245);
}

.calculator {
  background-color: rgba(34, 6, 71, 0.952);
  color: rgb(255, 236, 245);
  font-family: "Courier New", Courier, monospace;
}

.todo {
  background-color: rgba(99, 56, 155, 0.952);
  color: rgb(255, 236, 245);
  font-family: "Courier New", Courier, monospace;
}
